# These packages are needed for proper readthedocs import of documentation
Sphinx>=1.6
numpy
six
xarray
pandas
scipy
oct2py
smrt
matplotlib
itertools
collections
warnings
inspect
os
copy
functools
glob
pickle
random
uuid
sys
time
importlib
logging
threading