# These packages are needed for proper readthedocs import of documentation
Sphinx>=1.6
numpy
six
xarray
pandas
scipy
oct2py
matplotlib
functools
pickle
random
uuid
sys
time
importlib
logging
threading